
.custom-confirm-modal {
    max-width: 400px; 

    margin:  0 500px;
  }
  
  /* Additional styles for header, body, and footer if needed */
  .custom-confirm-modal .modal-header {
    background-color: orange; /* Set your desired header background color */
    color: #fff; 
    max-height: 100px;
  }
  
  .custom-confirm-modal .modal-body {
    
   max-width: 500px; /* Set your desired max-width */
    margin: 0 auto;
  }
  
  .custom-confirm-modal .modal-footer {
    /* Add styles for the footer if needed */
  }
  