.Branch_search{
    
    background-color: white;
    border-radius: 10px ;
    box-shadow:0px 0px 8px #ddd;
    display:flex;
    margin:-70px 0 0 230px;
    width:100%;
    max-width:550px ;
    
}
 .searchbar { 
  flex:1;
    background-color: transparent;
    border-radius: 5px 5px 0 0 ;
    border:none;
    font-size: 1rem;
    width: calc(100% - 40px);
    height:2.5rem;
    margin-left: 5px;
    padding:5px;
    letter-spacing: 1px;
    outline:none;
}

.searchbar:focus{
    outline:none;
    border-radius: 10px 10px 0 0;
}
.searchbar:hover{
  border-radius: 10px 10px 0 0;
} 

 #search-icon {
    color:green;
   margin:11px ;
   
} 


.suggestions-container {
    position: absolute;
    width: 100%;
    max-width: 547px;
    max-height: 200px; /* Set the maximum height for the dropdown */
   /* overflow-y: auto; */
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    border-top: 0;
    background-color: #ffffffc7;
    z-index: 1;
    margin-left: 200px;
    display: none;
    
  }
  
  /* Individual suggestion item */
  .suggestion {
    padding: 8px;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .suggestion:hover {
    background-color: #948f8f;
  }
  
  .Vpn__header-logo{
    margin-left: 0;
    margin-top:-6rem;
    
    
  }
  
  .Vpn__header-logo img {
    width:100%;
    max-width:200px;
    height:120px;
    
  }
  
  @media screen and (max-width: 768px) {
    .searchbar {
      width: 100%; 
    }
  }
  
  @media screen and (min-width: 769px) {
    .searchbar {
      width: 300px;
    }
  }
  

 