 .formInput{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family);
}

.formContainer input:focus{
  outline:none;
}

.formContainer {
  background: #f4f1f1; ;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px);
  padding: 20px; 
  width:70%;
  max-width: 600px; 
  margin-left: 400px; 
  margin-top: 20px;
}

.toggleBranch {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #348406fc;
  border-radius: 5px;
  transition: height 0.3s ease; /* Add transition for height */
  overflow: hidden; /* Hide overflow content */
}

.toggleBranch.active {
  background-color: #2fac2fd1 ;
 
  color:#fff;
  border:none;
}

/* Styles for form elements */
.formRow {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.formColumn {
  flex: 1;
  margin-right: 10px;
}

.formColumn:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 3px;
}

.formContainer [type='text'],
.formContainer [type='date'],
textarea,select {
  width: 100%;
  padding: 4px;
  border: 1px solid #ddd; 
  border-radius: 4px;
  box-sizing: border-box;
}
.checkbox-row input[type='checkbox'] {
  margin-right: 65px;
  height: 15px;
  width: 15px;
}
.checkbox-row {
  display: flex;
  align-items: center;
}

.checkbox-row label {
  margin-top: 5px;
  margin-right: 10px;
}
/* Optional: custom styling for checkbox appearance */
.formRow input[type='checkbox']::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Optional: styling for checked state */
.formRow input[type='checkbox']:checked::before {
  background-color: #009688;
  border-color: #009688;
}
/* Styles for form legend */
legend {

  text-align: left;
  font-weight: 800;
  margin-bottom: 5px;
  /* margin-right: 80px; */
  letter-spacing: 1px;
}


.topic {

   text-transform: uppercase;
   font-weight: bold;
   /* margin-top: -2px; */
   color:forestgreen;
}
  /* Adjust styles as needed */
  .formContainer Button{
    background-color: #00ff9d;
    border: none;
    color:#fff;
    font-weight: bold;
    margin-right: 0;
  }
  .close-icon1 {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.774); 
  }
  .formInput {
  
    &.show {
      display: block; 
    }
  
    &.hide {
      display: none;
    }
  }
  