
.container{
    margin-top: 20px;
    margin-left: 40px;
    padding:20px;
    width:500px;
    height:400px;
    align-items: center;
    background: #f4f1f1;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    justify-content: space-around;
}
button{
    color:gray;
    text-align: left;
}
.container .btnAll{
    margin-bottom:100px;
    width:320px;
    
    padding: 4px;
    border: none;
    border-radius: 3px;
    background-color: #ccc;
    font-weight: 500;
    margin:5px;
}
.container label{
    font-weight: 500;
    font-size: 14px;
   padding:5px;
}
.container input{
    width: 320px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding:4px;
    border: none;
    border-radius: 3px;
    background-color: #ccc;
}
.container input:focus{
 outline: none;
}
.container legend{
    text-align: center;
}
.csvlink{
    text-decoration: none;
    font-weight:600;
    font-size: 15px;
    color:blue;
    margin-right: 50px;
}
.close-iconcsv{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: rgba(255, 0, 0, 0.774);
}

.container .btn {
    position: relative;
    margin-top: 150px;
    margin-left: 350px;
    padding: 5px 20px;
    background-color: #00ff9d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #00ff80;
  }